.outlined{
    background-color: white;
    border: 1px solid #e9e9e9

}
.outlined:hover{
    background-color: #fafafa;
}
.primary{
    background-color: #fe2c55;
    color: white;
}
.primary:hover{
    background-color: #F02a51;
}
.btn.text.primary {
    background-color: transparent;
    color: #fe2c55;

}
.btn.text:hover {
    background-color: #f1f1f2;
}
.btn.outlined.primary{
    background-color: transparent;
    color: #fe2c55;
    border-color: #fe2c55 ;
}
.btn.outlined.primary:hover{
    background-color: #fff4f5;
}
